<div class="row">

  <div class="col-sm-8 col-sm-offset-2">

    <div role="tabpanel">

      <!-- Nav tabs start-->
      <ul class="nav nav-tabs font-alt" role="tablist">
        <li>
          <a href="#about" data-toggle="tab"><span class="icon-pencil"></span> About</a>
        </li>
        <li>
          <a href="#reel" data-toggle="tab"><span class="icon-video"></span> Reel</a>
        </li>
        <li class="active">
          <a href="#resume" data-toggle="tab"><span class="icon-strategy"></span> Resume</a>
        </li>
        <li>
          <a href="#awards" data-toggle="tab"><span class="icon-trophy"></span> Awards</a>
        </li>
        <li>
          <a href="#actors" data-toggle="tab"><span class="icon-genius"></span> Actors</a>
        </li>
      </ul>
      <!-- Nav tabs end -->

      <!-- Tab panes start-->
      <div class="tab-content">
        <!-- Tab start -->
        <div class="tab-pane active" id="about">
          <h4 class="font-alt mb-0">Basic Forms</h4>
          <hr class="divider-w mt-10 mb-20">

          <div class="form-group">
            <input class="form-control input-lg" type="text" placeholder="Large input">
          </div>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Default input">
          </div>
          <div class="form-group">
            <input class="form-control input-sm" type="text" placeholder="Small input">
          </div>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Disabled input" disabled>
          </div>
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Readonly input" readonly>
          </div>
          <textarea class="form-control" rows="7" placeholder="Textarea"></textarea>
        </div>
        <!-- Tab end -->

        <!-- Tab start -->
        <div class="tab-pane" id="reel">
          To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words.
        </div>
        <!-- Tab end -->

        <!-- Tab start -->
        <div class="tab-pane" id="resume">
          <h3>Resume</h3>
        </div>
        <!-- Tab end -->

        <!-- Tab start -->
        <div class="tab-pane" id="awards">
          <h3>Awards</h3>
        </div>
        <!-- Tab end -->

        <!-- Tab start -->
        <div class="tab-pane" id="actors">
          <h3>Actors Trained</h3>
        </div>
        <!-- Tab end -->

      </div>
      <!-- Tab panes end-->
    </div>

  </div>

</div><!-- .row -->
