<div class="row" ng-controller="mainController as main">

  <div class="col-sm-8 col-sm-offset-2">

    <ul class="nav nav-tabs" >
      <li ng-repeat="tab in main.tabs">
        <a href="{{tab.link}}" ng-click="main.setSelectedTab(tab)"> <span class="{{tab.icon}}"></span> {{tab.label}}</a>
      </li>
    </ul>
    <div ng-view></div>

  </div>

  </div>

</div><!-- .row -->

<script type="text/ng-template" id="/templates/about.html">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>About Us</h3>
          <p>Form goes here with some type of simple html editor.</p>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="/templates/reel.html">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Reel</h3>
          <p>Form goes here with a simple text input which should save a YouTube ID.</p>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="/templates/resume.html">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Resume</h3>
          <p>Pull data from iStunt to populate this section.</p>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="/templates/awards.html">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Awards</h3>
          <p>Create, List, Edit, Delete awards. They should allow image uploads and will populate the awards slider.</p>
          <p>Question for later: can we pull this data from imdb? for example: http://www.imdb.com/name/nm0243345/awards?ref_=nm_ql_2</p>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="/templates/actors.html">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Actors Trained</h3>
          <p>Create, List, Edit, Delete actors trained.</p>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="/templates/settings.html">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Settings</h3>
          <p>Website settings form.</p>
        </div>
      </div>
    </div>
  </div>
</script>
