section#about
{
  margin:0;
  padding:3.5em 0 0 0;
}

footer.footer {
  background: #2b2d35 none repeat scroll 0 0;
  color: #000000;
  padding: 1em 0;
}
.footer-social-links a{
  margin:10px;
}
footer.footer .copyright {
  color: rgba(255, 255, 255, 1);
  font-weight: 200;
  letter-spacing: 0.7px;
  line-height: 2;
}

section#resume p {
  font-size: 1em;
  font-weight: 100;
  margin: 0 auto 1em;
  color:#FFF;
}

img.main-headshot
{
  position:relative;
  bottom:0;
}

.awards-carousel.owl-theme-main .owl-item .item h3
{
  margin:0.5em 0;
}

.awards-carousel.owl-theme-main .owl-item .item h4
{
  margin:0.5em 0;
}

.awards-carousel.owl-theme-main .owl-item .item img
{
  height:160px;
  width:160px;
}

section.dark.with-bg2 {
  background: rgba(0, 0, 0, 0) url("../../images/3.jpg") no-repeat scroll center top / cover ;
}

.video-container
{
  background-color: #b5b5b5;
  border: 3px solid rgba(165, 165, 165, 1);
  box-shadow: 5px 5px 5px rgba(43, 45, 53, 0.65);
  height: 100%;
}

.video-container-inner
{
  margin: 10px;
}


.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}

.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}


.grid {
  list-style: none;
  margin: 0 auto;
  text-align: center;
}
.grid .resume-item {
  display: inline-block;
  margin: 0;
  padding: 20px;
  position: relative;
  text-align: left;
}

.grid .resume-item .wide {
  width:200%;
}

.grid figure {
  margin: 0;
  padding:20px;
  overflow: hidden;
  position: relative;
  background-color: rgba(43, 45, 53, 0.7);
  border-radius: 4px;
}
.grid figure .info {
  padding: 0;
  position: absolute;
  bottom: -60px;
  z-index: 100;
  width: 100%;
  text-align: center;
}
.grid figure h3 {
  font-size: 1.5em;
  margin-bottom: 4px;
}
.grid figure span {
  color: white;
}
.grid figure img {
  display: block;
  width: 100%;
  border-radius: 4px;
  position: relative;
}
.grid figcaption {
  background-color: rgba(43, 45, 53, 0.97);
  min-height: 35px;
  left: 0;
  padding: 16px 3px 0 0;
  position: absolute;
  text-align: center;
  top: 0;
  border-radius: 0 0 4px 4px;
}
.grid figcaption a {
  position: absolute;
  bottom: 20%;
}
.grid figcaption a.link,
.grid figcaption a.preview {
  display: inline-block;
  background: white;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #88b7b3;
  text-decoration: none;
}
.grid figcaption a.preview {
  left: 38%;
}
.grid figcaption a.link {
  right: 38%;
}
.grid figcaption a.link:hover,
.grid figcaption a.preview:hover {
  background: #fff;
  color: #68a49f;
  transition: background 0.1s linear 0.1s;
}
.grid figcaption span {
  color: #fff;
  font-style: italic;
  padding: 0 10px 0 10px;
}
.grid figcaption h3 {
  color: #fff;
}

section #about.featured, {
  padding: 0;
}
