<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if IE 10]> <html class="ie10" lang="en"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]> <html lang="en"> <![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="ico/favicon.png">

  <title>Thomas DuPont ~ Fight Choreographer / Stunt Coordinator</title>


  <!--STYLES-->
  <link rel="stylesheet" href="/styles/bootstrap-theme.css">
  <link rel="stylesheet" href="/styles/bootstrap.css">
  <link rel="stylesheet" href="/styles/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/carousel.css">
  <link rel="stylesheet" href="/styles/colorbox.css">
  <link rel="stylesheet" href="/styles/et-line-font.css">
  <link rel="stylesheet" href="/styles/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/less/variables.css">
  <link rel="stylesheet" href="/styles/magnific-popup.css">
  <link rel="stylesheet" href="/styles/theme-orange.css">
  <!--STYLES END-->
  <link rel="stylesheet" href="/styles/admin.css">

  <!-- Font Awesome -->

  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>


  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.6.1/jquery.colorbox.js"></script>


  <script>
    $(document).ready(function(){
      $(".vimeo").colorbox({iframe:true, innerWidth:900, innerHeight:675});
      $(".youtube").colorbox({iframe:true, innerWidth:900, innerHeight:675});
    });
  </script>

</head>

<body data-ng-app="satelliteApp">

<div class="preloader">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>




<!--
    ==================================================
                    NAVIGATION BAR
    ================================================== -->

<div class="navbar-wrapper admin-navbar">
  <div class="container">

    <!-- Fixed navbar -->
    <div class="navbar cbp-af-inner" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar2-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <h1><a class="navbar-brand scroll" href="#">Stuntfights Admin</a></h1>
        </div>

        </div>
      </div>
    </div>

  </div>

<div class="container">

  <div class="row" ng-controller="mainController as main">

    <div class="col-md-12">

      <ul class="nav nav-tabs" >
        <li ng-repeat="tab in main.tabs">
          <a href="{{tab.link}}" ng-click="main.setSelectedTab(tab)"> <span class="{{tab.icon}}"></span> {{tab.label}}</a>
        </li>
      </ul>
      <div ng-view></div>

    </div>

  </div>
</div>

<script type="text/ng-template" id="/templates/about.html">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>About Us</h3>
          <p>Form goes here with some type of simple html editor.</p>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="/templates/reel.html">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Reel</h3>
          <p>Form goes here with a simple text input which should save a YouTube ID.</p>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="/templates/resume.html">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Resume</h3>
          <p>Pull data from iStunt to populate this section.</p>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="/templates/awards.html">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Awards</h3>
          <p>Create, List, Edit, Delete awards. They should allow image uploads and will populate the awards slider.</p>
          <p>Question for later: can we pull this data from imdb? for example: http://www.imdb.com/name/nm0243345/awards?ref_=nm_ql_2</p>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="/templates/actors.html">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Actors Trained</h3>
          <p>Create, List, Edit, Delete actors trained.</p>
        </div>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="/templates/settings.html">
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>Settings</h3>
          <p>Website settings form.</p>
        </div>
      </div>
    </div>
  </div>
</script>




<!--
    ==================================================
                          FOOTER
    ================================================== -->

<footer id="contact" class="footer">

  <div class="container">

    <!--<div class="row">-->

    <div class="col-sm-6">
      <p class="copyright font-alt">© 2015 <a href="#">Thomas DuPont</a>, All Rights Reserved.</p>
    </div>

    <div class="col-sm-6">
      <div class="footer-social-links">
        <a class="icon" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
        <a class="icon" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
        <!--<a href="#"><i class="fa fa-facebook"></i></a>-->
        <!--<a href="#"><i class="fa fa-twitter"></i></a>-->
      </div>
    </div>

    <!--</div>&lt;!&ndash; .row &ndash;&gt;-->

  </div>

</footer>


<!--
        ==================================================
                       SCRIPT SECTION
        ================================================== -->



<!-- script tags are going to be injected here -->
<!--SCRIPTS-->
<script src="/js/dependencies/bootstrap.js"></script>
<script src="/js/dependencies/jqBootstrapValidation.js"></script>
<script src="/js/dependencies/jquery.flexslider.js"></script>
<script src="/js/dependencies/jquery.magnific-popup.js"></script>
<script src="/js/dependencies/jquery.mb.YTPlayer.js"></script>
<script src="/js/dependencies/jquery.nav.js"></script>
<script src="/js/dependencies/jquery.scrollTo.js"></script>
<script src="/js/scrollReveal.js"></script>
<script src="/js/isotope.js"></script>
<script src="/js/cbpAnimatedHeader.min.js"></script>
<script src="/js/classie.js"></script>
<script src="/js/imagesloaded.pkgd.js"></script>
<script src="/js/less.js"></script>
<script src="/js/modernizr.custom.js"></script>
<script src="/js/owl.carousel.js"></script>
<script src="/js/custom.js"></script>
<!--SCRIPTS END-->

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-route.min.js"></script>
<script src="/js/ng/ui-bootstrap-tpls-0.13.0.min.js"></script>
<script src="/js/ng/ng.satellite.js"></script>
<script src="/js/ng/ng.application.js"></script>


<script>

  $(document).ready(function(){
    $(".player").mb_YTPlayer();
    isotope();
  });






</script>

</body>
</html>


<!--<div class="row">-->
<!--<div class="col-sm-6">-->
<!--<p class="muted">© 2015 Thomas DuPont</p>-->
<!--</div>-->
<!--<div class="col-sm-6">-->
<!--<a class="icon" href="#" target="_blank"><i class="fa fa-twitter"></i></a>-->
<!--<a class="icon" href="#" target="_blank"><i class="fa fa-facebook"></i></a>-->
<!--</div>-->
<!--</div>-->
