<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if IE 10]> <html class="ie10" lang="en"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]> <html lang="en"> <![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="ico/favicon.png">

  <title>Thomas DuPont ~ Fight Choreographer / Stunt Coordinator</title>


  <!--STYLES-->
  <link rel="stylesheet" href="/styles/prestige/bootstrap-theme.css">
  <link rel="stylesheet" href="/styles/prestige/bootstrap.css">
  <link rel="stylesheet" href="/styles/prestige/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/prestige/carousel.css">
  <link rel="stylesheet" href="/styles/prestige/colorbox.css">
  <link rel="stylesheet" href="/styles/prestige/et-line-font.css">
  <link rel="stylesheet" href="/styles/prestige/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/prestige/less/variables.css">
  <link rel="stylesheet" href="/styles/prestige/magnific-popup.css">
  <link rel="stylesheet" href="/styles/prestige/theme-updates.css">
  <link rel="stylesheet" href="/styles/prestige/theme.css">
  <link rel="stylesheet" href="/styles/prestige/stuntfights.css">
  <!--STYLES END-->


  <!-- Font Awesome -->

  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>


  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.6.1/jquery.colorbox.js"></script>


  <script>
    $(document).ready(function(){
      $(".vimeo").colorbox({iframe:true, innerWidth:900, innerHeight:675});
      $(".youtube").colorbox({iframe:true, innerWidth:900, innerHeight:675});
    });
  </script>

</head>

<body>

<div class="preloader">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>




<!--
    ==================================================
                    NAVIGATION BAR
    ================================================== -->


<div class="navbar-wrapper cbp-af-header cbp-af-header-shrink">
  <div class="container">
    <!-- Fixed navbar -->
    <div class="navbar cbp-af-inner" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--scroll-->
          <h1><a class="navbar-brand" href="#">Thomas Dupont</a></h1>
        </div>
        <!--"navbar-collapse collapse"-->
        <div class="navbar cbp-af-inner">
          <ul class="nav navbar-nav navbar-right">
            <!--<li class="dropdown">-->
              <!--<a href="#featured1" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Home <span class="caret"></span></a>-->
            <!--</li>-->
            <li><a href="#featured1">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#team">Accolades</a></li>
            <li><a href="#projects">Resume</a></li>
            <li><a href="#testimonials">Testimonials</a></li>
            <!--<li><a href="#gallery">Actors</a></li>-->
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



<!--
     ==================================================
                           HOME
     ================================================== -->

<!--class="dark with-bg2"-->

<section id="featured1">

  <!-- Jssor Slider Begin -->
  <!-- To move inline styles to css file/block, please specify a class name for each element. -->
  <!-- ================================================== -->
  <div id="slider1_container" style="display: none; position: relative; margin: 0 auto;
        top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden;">
    <!-- Loading Screen -->
    <div u="loading" style="position: absolute; top: 0px; left: 0px;">
      <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block;
                top: 0px; left: 0px; width: 100%; height: 100%;">
      </div>
      <div style="position: absolute; display: block; background: url(../images/loading.gif) no-repeat center center;
                top: 0px; left: 0px; width: 100%; height: 100%;">
      </div>
    </div>
    <!-- Slides Container -->
    <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 1300px; height: 500px; overflow: hidden;">
      <div>
        <img u="image" src2="images/1.jpg" />
      </div>
      <div>
        <img u="image" src2="images/2.jpg" />
      </div>
      <div>
        <img u="image" src2="images/3.jpg" />
      </div>
    </div>

    <!--#region Bullet Navigator Skin Begin -->
    <!-- Help: http://www.jssor.com/development/slider-with-bullet-navigator-jquery.html -->

    <style>
      /* jssor slider bullet navigator skin 21 css */
      /*
      .jssorb21 div           (normal)
      .jssorb21 div:hover     (normal mouseover)
      .jssorb21 .av           (active)
      .jssorb21 .av:hover     (active mouseover)
      .jssorb21 .dn           (mousedown)
      */
      .jssorb21 {
        position: absolute;
      }
      .jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
        position: absolute;
        /* size of bullet elment */
        width: 19px;
        height: 19px;
        text-align: center;
        line-height: 19px;
        color: white;
        font-size: 12px;
        background: url(../images/b21.png) no-repeat;
        overflow: hidden;
        cursor: pointer;
      }
      .jssorb21 div { background-position: -5px -5px; }
      .jssorb21 div:hover, .jssorb21 .av:hover { background-position: -35px -5px; }
      .jssorb21 .av { background-position: -65px -5px; }
      .jssorb21 .dn, .jssorb21 .dn:hover { background-position: -95px -5px; }
    </style>

    <!-- bullet navigator container -->
    <div u="navigator" class="jssorb21" style="bottom: 26px; right: 6px;">
      <!-- bullet navigator item prototype -->
      <div u="prototype"></div>
    </div>
    <!--#endregion Bullet Navigator Skin End -->

    <!--#region Arrow Navigator Skin Begin -->
    <!-- Help: http://www.jssor.com/development/slider-with-arrow-navigator-jquery.html -->
    <style>
      /* jssor slider arrow navigator skin 21 css */
      /*
      .jssora21l                  (normal)
      .jssora21r                  (normal)
      .jssora21l:hover            (normal mouseover)
      .jssora21r:hover            (normal mouseover)
      .jssora21l.jssora21ldn      (mousedown)
      .jssora21r.jssora21rdn      (mousedown)
      */
      .jssora21l, .jssora21r {
        display: block;
        position: absolute;
        /* size of arrow element */
        width: 55px;
        height: 55px;
        cursor: pointer;
        background: url(../images/a21.png) center center no-repeat;
        overflow: hidden;
      }
      .jssora21l { background-position: -3px -33px; }
      .jssora21r { background-position: -63px -33px; }
      .jssora21l:hover { background-position: -123px -33px; }
      .jssora21r:hover { background-position: -183px -33px; }
      .jssora21l.jssora21ldn { background-position: -243px -33px; }
      .jssora21r.jssora21rdn { background-position: -303px -33px; }
    </style>
    <!-- Arrow Left -->
            <span u="arrowleft" class="jssora21l" style="top: 333px; left: 8px;">
            </span>
    <!-- Arrow Right -->
            <span u="arrowright" class="jssora21r" style="top: 333px; right: 8px;">
            </span>
    <!--#endregion Arrow Navigator Skin End -->
  </div>
  <!-- Jssor Slider End -->
  </div>


</section>




<!-------- OLD CODE DO NOT DELETE -------------->


  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-sm-5 overlay-text">-->
        <!--<div class="vertical-align">-->
          <!--<h2>StuntFights</h2>-->
          <!--<p>Thomas' passion for his craft fuels his enthusiasm for training, research, experimentation and artistry. Armed with a solid work ethic and fierce determination,-->
            <!--this dynamic industry inspires Thomas to continually enhance his style to not only meet but exceed the industry's fight coordinating standards.</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-sm-5 col-sm-offset-1">-->
        <!--<div class="vertical-align">-->
          <!--<iframe src="https://player.vimeo.com/video/53068895?title=0&byline=0&portrait=0" width="550" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->

        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->





<!--
    ==================================================
                          ABOUT
    ================================================== -->

<section id="about" class="featured">

  <div class="container">
    <div class="row">
      <div class="col-xs-5 text-center">
        <img class="margin-top2 img-responsive" src="images/tdupont2.jpg" alt="Generic placeholder image" data-sr="enter left, hustle 20px" width="429">
      </div>
      </br>
      <div class="col-xs-6 col-sm-offset-1">
        <!--<div class="vertical-align">-->
          <h2>Thomas Dupont</h2>
          <p>For more than two decades, Thomas has been successfully choreographing, training and performing fights for commercials, film and television. By using an arsenal of blades and weapons -true or improvised, tapping into
            martial arts training, and being inspired by "the art of human movement", Thomas creates a variety of fight designs
            for the camera that are exciting, safe, and surprisingly easy to learn. Thomas' style is frequently highlighted, and had
            been described as "a combination of focus and precision, power and grace".</p>
          <p>Thomas' fight scene preparation encompasses instruction from the director, abilities of the performer, and integrity of
            each character all while staying true to the script. With this foundation in mind, Thomas builds a scene with creativity,
            diversity, responsibility and originality -ultimately creating a scene with realistic, interesting movements and a distinct
            personality- often discovering and incorporating elements that have never before been seen on film.</p>
          <p>
            By working with stunt performers, as well as training many actors, Thomas developed a level of experience, patience
            and adaptability needed to train performers of all skill levels. Thomas' ability to quickly assess natural strengths and teach in accordance with each individuals learning process
            ultimately speeds up the rehearsal process and allows performers maximum potential to be achieved.
          </p>
        </div>
      </div>
    </div>
  </div>

</section>



<!--
    ==================================================
                      ACCOLADES
    ================================================== -->

<section id="team" class="dark">

  <div class="page-header text-center">
    <h2>Accolades</h2>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="owl-example owl-carousel">
          <div class="item">
            <img class="display-pic" src="/images/user-avatar4.jpg" alt="Team Member">
            <h3>2007 Winner</h3>
            <h4>Best Fight</h4>
            <p><b>Pirates of the Caribbean: Dead Man's Chest (2006)</b></p><p> The two lead male characters use swords to fight enemies and each other in a bell tower, on top of a run-down castle, on a large moving wheel and on a beach.</p>
          </div>
          <div class="item">
            <img class="display-pic" src="/images/user-avatar4.jpg" alt="Team Member">
            <h3>2002 Winner</h3>
            <h4>Hardest Hit</h4>
            <p><b>A Knight's Tale (2001)</b></p><p>Final jousting sequence where black knight is hit by the lance does back flip onto ground.</p>
          </div>
          <div class="item">
            <img class="display-pic" src="/images/user-avatar4.jpg" alt="Team Member">
            <h3>2002 Nominated</h3>
            <h4>Best Work With an Animal</h4>
            <p><b>A Knight's Tale (2001)</b></p><p>Final jousting sequence where black knight is hit by the lance does back flip onto ground.</p>
          </div>
          <div class="item">
            <img class="display-pic" src="/images/user-avatar5.jpg" alt="Team Member">
            <h3>2013 Nominated</h3>
            <h4>Outstanding Action Performance by a Stunt Ensemble in a Motion Picture</h4>
            <p>The Amazing Spider-Man (2012)</p>
          </div>
          <div class="item">
            <img class="display-pic" src="/images/user-avatar5.jpg" alt="Team Member">
            <h3>2008 Nominated</h3>
            <h4>Outstanding Performance by a Stunt Ensemble in a Motion Picture</h4>
            <p>Pirates of the Caribbean: At World's End (2007)</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>


<!--
    ==================================================
                           RESUME
    ================================================== -->

<section class="section-content section-isotope" id="resume">
  <div class="page-header text-center">
    <h3>Professional</h3>
    <h2>Resume</h2>
  </div>


  <div class="container">
    <div id="filters" class="button-group text-center">
      <button data-filter-value="*" class="active">show all</button>
      <button data-filter-value=".film_credits">film credits</button>
      <button data-filter-value=".television">television</button>
    </div>
    <div class="row demo-3">
      <div id="portfolio" class="js-isotope grid cs-style-1" data-isotope-options='{ "columnWidth": 100, "layoutMode": "masonry", "itemSelector": ".resume-item" }'>

        <%
        if(records && records.resume)
        {
          _.each(records.resume, function(entity)  {

            switch (entity.slug){

            case 'film_credits':
            case 'television':
          %>
          <%- partial ('../partials/resume/default.ejs', {entity: entity}) %>
          <%

            break;

          default:
          %>

          <%
            break;
          }
          });
        }
        %>

      </div>
    </div>
  </div>




</section>

<section class="section-content section-isotope separator" id="projects">

  <div class="page-header text-center">
    <h3>Professional</h3>
    <h2>Resume</h2>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-lg-12">


      </div>

      <div id="portfolio" class="js-isotope grid cs-style-1" data-isotope-options='{ "columnWidth": 200, "itemSelector": ".portfolio-item" }'>
        <div class="col-sm-6 col-md-4 portfolio-item design">
          <figure>
            <!-- Thumb Info -->
            <div class="info">
              <h3>Fight Coordinator</h3>
              <span>Stunt Double: Jeff Bridges</span>
            </div>
            <!-- Thumbnail -->
            <img src="images/thumbs/7son.jpg" alt="Prestige Portfolio Thumbnail Image">
            <!-- Thumb links -->
            <figcaption>
              <a href="images/thumbs/7son.jpg" class="preview tooltips popup-gallery" data-toggle="tooltip" data-placement="left" title="Preview">
                <i class="fa fa-plus"></i>
              </a>
              <a href="#" class="link tooltips" data-toggle="tooltip" data-placement="bottom" title="Open Website">
                <i class="fa fa-external-link"></i>
              </a>
            </figcaption>
          </figure>
        </div>
        <div class="col-sm-6 col-md-4 portfolio-item design">
          <figure>
            <!-- Thumb Info -->
            <div class="info">
              <h3>Stunt Coordinator</h3>
              <span>Second Unit</span>
            </div>
            <!-- Thumbnail -->
            <img src="images/thumbs/robocop.jpg" alt="Prestige Portfolio Thumbnail Image">
            <!-- Thumb links -->
            <figcaption>
              <a href="images/thumbs/robocop.jpg" class="preview tooltips popup-gallery" data-toggle="tooltip" data-placement="bottom" title="Preview">
                <i class="fa fa-plus"></i>
              </a>
              <a href="#" class="link tooltips" data-toggle="tooltip" data-placement="bottom" title="Open Website">
                <i class="fa fa-external-link"></i>
              </a>
            </figcaption>
          </figure>
        </div>
        <div class="col-sm-6 col-md-4 portfolio-item websites">
          <figure>
            <!-- Thumb Info -->
            <div class="info">
              <h3>Fight Coordinator</h3>
            </div>
            <!-- Thumbnail -->
            <img src="images/thumbs/gijoe.jpg" alt="Prestige Portfolio Thumbnail Image">
            <!-- Thumb links -->
            <figcaption>
              <a href="images/thumbs/gijoe.jpg" class="preview tooltips popup-gallery" data-toggle="tooltip" data-placement="bottom" title="Preview"><i class="fa fa-plus"></i></a><a href="#" class="link tooltips" data-toggle="tooltip" data-placement="bottom" title="Open Website"><i class="fa fa-external-link"></i></a>
            </figcaption>
          </figure>
        </div>
        <div class="col-sm-6 col-md-4 portfolio-item websites">
          <figure>
            <!-- Thumb Info -->
            <div class="info">
              <h3>Fight Cd & Sword Master</h3>
              <span>Stunt Double: Geoffrey Rush</span>
            </div>
            <!-- Thumbnail -->
            <img src="images/thumbs/potcstranger.jpg" alt="Prestige Portfolio Thumbnail Image">
            <!-- Thumb links -->
            <figcaption>
              <a href="images/thumbs/potcstranger.jpg" class="preview tooltips popup-gallery" data-toggle="tooltip" data-placement="bottom" title="Preview"><i class="fa fa-plus"></i></a><a href="#" class="link tooltips" data-toggle="tooltip" data-placement="bottom" title="Open Website"><i class="fa fa-external-link"></i></a>
            </figcaption>
          </figure>
        </div>
        <div class="col-sm-6 col-md-4 portfolio-item websites">
          <figure>
            <!-- Thumb Info -->
            <div class="info">
              <h3>Fight Choreographer</h3>
            </div>
            <!-- Thumbnail -->
            <img src="images/thumbs/Thor.jpg" alt="Prestige Portfolio Thumbnail Image">
            <!-- Thumb links -->
            <figcaption>
              <a href="images/thumbs/Thor.jpg" class="preview tooltips popup-gallery" data-toggle="tooltip" data-placement="bottom" title="Preview"><i class="fa fa-plus"></i></a><a href="#" class="link tooltips" data-toggle="tooltip" data-placement="bottom" title="Open Website"><i class="fa fa-external-link"></i></a>
            </figcaption>
          </figure>
        </div>
        <div class="col-sm-6 col-md-4 portfolio-item icons">
          <figure>
            <!-- Thumb Info -->
            <div class="info">
              <h3>Sword Master / Trainer</h3>
              <span>Stunt Double: Harrison Ford (uncredited)</span>
            </div>
            <!-- Thumbnail -->
            <img src="images/thumbs/indiana.jpg" alt="Prestige Portfolio Thumbnail Image">
            <!-- Thumb links -->
            <figcaption>
              <a href="images/thumbs/indiana.jpg" class="preview tooltips popup-gallery" data-toggle="tooltip" data-placement="bottom" title="Preview"><i class="fa fa-plus"></i></a><a href="#" class="link tooltips" data-toggle="tooltip" data-placement="bottom" title="Open Website"><i class="fa fa-external-link"></i></a>
            </figcaption>
          </figure>
        </div>
        <div class="col-sm-6 col-md-4 portfolio-item icons">
          <figure>
            <!-- Thumb Info -->
            <div class="info">
              <h3>Sword Master</h3>
              <span>Stunt Double: Geoffrey Rush/Bill Nighy</span>
            </div>
            <!-- Thumbnail -->
            <img src="images/thumbs/potcworlds.jpg" alt="Prestige Portfolio Thumbnail Image">
            <!-- Thumb links -->
            <figcaption>
              <a href="images/thumbs/potcworlds.jpg" class="preview tooltips popup-gallery" data-toggle="tooltip" data-placement="bottom" title="Preview"><i class="fa fa-plus"></i></a><a href="#" class="link tooltips" data-toggle="tooltip" data-placement="bottom" title="Open Website"><i class="fa fa-external-link"></i></a>
            </figcaption>
          </figure>
        </div>
        <div class="col-sm-6 col-md-4 portfolio-item print">
          <figure>
            <!-- Thumb Info -->
            <div class="info">
              <h3>Sword Master</h3>
              <span>Stunt Double: Jack Davenport</span>
            </div>
            <!-- Thumbnail -->
            <img src="images/thumbs/potcchest.jpg" alt="Prestige Portfolio Thumbnail Image">
            <!-- Thumb links -->
            <figcaption>
              <a href="images/thumbs/potcchest.jpg" class="preview tooltips popup-gallery" data-toggle="tooltip" data-placement="bottom" title="Preview"><i class="fa fa-plus"></i></a><a href="#" class="link tooltips" data-toggle="tooltip" data-placement="bottom" title="Open Website"><i class="fa fa-external-link"></i></a>
            </figcaption>
          </figure>
        </div>
        <div class="col-sm-6 col-md-4 portfolio-item mobile">
          <figure>
            <!-- Thumb Info -->
            <div class="info">
              <h3>Utility Stunts</h3>
              <span>Stunt Double: Geoffrey Rush</span>
            </div>
            <!-- Thumbnail -->
            <img src="images/thumbs/potcpearl.jpg" alt="Prestige Portfolio Thumbnail Image">
            <!-- Thumb links -->
            <figcaption>
              <a href="images/thumbs/potcpearl.jpg" class="preview tooltips popup-gallery" data-toggle="tooltip" data-placement="bottom" title="Preview"><i class="fa fa-plus"></i></a><a href="#" class="link tooltips" data-toggle="tooltip" data-placement="bottom" title="Open Website"><i class="fa fa-external-link"></i></a>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>

</section>



<!--
     ==================================================
                       RECOGNITIONS
     ================================================== -->

<section id="testimonials" class="dark">

  <div class="page-header text-center">
    <h2>TESTIMONIALS</h2>
  </div>

  <div class="container">

    <div class='row'>
      <div class='col-md-offset-2 col-md-8'>
        <div class="carousel slide" data-ride="carousel" id="quote-carousel">
          <!-- Bottom Carousel Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#quote-carousel" data-slide-to="1"></li>
            <li data-target="#quote-carousel" data-slide-to="2"></li>
          </ol>

          <!-- Carousel Slides / Quotes -->
          <div class="carousel-inner">

            <!-- Quote 1 -->
            <div class="item active">
              <blockquote>
                <div class="row">
                  <div class="col-sm-3 text-center">
                    <img src="/images/user-avatar1.jpg">
                  </div>
                  <div class="col-sm-9">
                    <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!"</p>
                    <small>Geoffrey Rush - "Pirates of the Caribbean"</small>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- Quote 2 -->
            <div class="item">
              <blockquote>
                <div class="row">
                  <div class="col-sm-3 text-center">
                    <img src="/images/user-avatar2.jpg">
                  </div>
                  <div class="col-sm-9">
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris."</p>
                    <small>Nicolas Cage - "The Sorcerer's Apprentice"</small>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- Quote 3 -->
            <div class="item">
              <blockquote>
                <div class="row">
                  <div class="col-sm-3 text-center">
                    <img src="/images/user-avatar3.jpg">
                  </div>
                  <div class="col-sm-9">
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris."</p>
                    <small>Gerard Butler - "Gamer"</small>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- Quote 4 -->
            <div class="item">
              <blockquote>
                <div class="row">
                  <div class="col-sm-3 text-center">
                    <img src="/images/user-avatar6.jpg">
                  </div>
                  <div class="col-sm-9">
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris."</p>
                    <small>YO YO - "Gamer"</small>
                  </div>
                </div>
              </blockquote>
            </div>
          </div>

          <!-- Carousel Buttons Next/Prev -->
          <a data-slide="prev" href="#quote-carousel" class="left carousel-control visible-md visible-lg"><i class="fa fa-chevron-left"></i></a>
          <a data-slide="next" href="#quote-carousel" class="right carousel-control  visible-md visible-lg"><i class="fa fa-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>

</section>




<!--
    ==================================================
                            ACTORS TRAINED
    ================================================== -->

<section id="gallery">

  <div class="page-header text-center">
    <h3>Actors Trained</h3>
    <h2>Here's a sneak peek</h2>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="owl-example owl-carousel">
          <div class="item">
            <a href="images/thumbs/thumb1.jpg" class="popup-gallery">
              <img src="images/thumbs/thumb1.jpg" alt="Prestige Portfolio Thumbnail Image">
            </a>
          </div>
          <div class="item">
            <a href="images/thumbs/thumb2.jpg" class="popup-gallery">
              <img src="images/thumbs/thumb2.jpg" alt="Prestige Portfolio Thumbnail Image">
            </a>
          </div>
          <div class="item">
            <a href="images/thumbs/thumb3.jpg" class="popup-gallery">
              <img src="images/thumbs/thumb3.jpg" alt="Prestige Portfolio Thumbnail Image">
            </a>
          </div>
          <div class="item">
            <a href="images/thumbs/thumb4.jpg" class="popup-gallery">
              <img src="images/thumbs/thumb4.jpg" alt="Prestige Portfolio Thumbnail Image">
            </a>
          </div>
          <div class="item">
            <a href="images/thumbs/thumb5.jpg" class="popup-gallery">
              <img src="images/thumbs/thumb5.jpg" alt="Prestige Portfolio Thumbnail Image">
            </a>
          </div>
          <div class="item">
            <a href="images/thumbs/thumb6.jpg" class="popup-gallery">
              <img src="images/thumbs/thumb6.jpg" alt="Prestige Portfolio Thumbnail Image">
            </a>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>




<!--
        ==================================================
                             CONTACT
        ================================================== -->


<section id="featured2" class="featured dark">

  <div class="container">
    <div class="row">
      <div class="col-sm-5 text-center">
        <img class="margin-top img-responsive" src="images/icm2.png" alt="Generic placeholder image"
             data-sr="enter left, hustle 20px" width="429">
      </div>
      <div class="col-sm-5 col-sm-offset-1">
        <div class="vertical-align">
          <h2>Contact Me</h2>

          <p><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp; Tad Lumpkin</p>

          <p><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp; TLumpkin@icmpartners.com</p>

          <p><span class="glyphicon glyphicon-phone-alt"></span>&nbsp;&nbsp; (310) 550-4404</p>

          <p>
            <button class="btn contact-button" type="button" role="button">Contact us</button>
          </p>
          <div class='contact-form'>
            <form name="sentMessage" id="contactForm">
              <div class='name'>
                <input class='form-control first' placeholder='First Name' type='text' id="first_name" autofocus
                       required data-validation-required-message="Please enter your first name">
                <input class='last' placeholder='Last Name' type='text' id="last_name" required
                       data-validation-required-message="Please enter your last name">
              </div>
              <div class='contact'>
                <input class='form-control email' placeholder='E-mail Address' type='text' id="email" required
                       data-validation-required-message="Please enter your email">
              </div>
              <div class='message'>
                <textarea class="form-control" placeholder='Your message' id="message" required
                          data-validation-required-message="Please enter your message" maxlength="999"
                          style="resize:none"></textarea>
              </div>
              <div id="success"></div>
              <!-- For success/fail messages -->
              <footer class="submit-button">
                <button type="submit">Send your message</button>
              </footer>
            </form>

          </div>
        </div>

      </div>
    </div>
  </div>

</section>



























<!--
    ==================================================
                          FOOTER
    ================================================== -->

<footer id="contact" class="footer">

  <div class="container">

    <!--<div class="row">-->

    <div class="col-sm-6">
      <p class="copyright font-alt">© 2015 <a href="#">Thomas DuPont</a>, All Rights Reserved.</p>
    </div>

    <div class="col-sm-6">
      <div class="footer-social-links">
        <a class="icon" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
        <a class="icon" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
        <!--<a href="#"><i class="fa fa-facebook"></i></a>-->
        <!--<a href="#"><i class="fa fa-twitter"></i></a>-->
      </div>
    </div>

    <!--</div>&lt;!&ndash; .row &ndash;&gt;-->

  </div>

</footer>


<!--
        ==================================================
                       SCRIPT SECTION
        ================================================== -->



<!-- script tags are going to be injected here -->
<!--SCRIPTS-->
<script src="/js/dependencies/bootstrap.js"></script>
<script src="/js/dependencies/jqBootstrapValidation.js"></script>
<script src="/js/dependencies/jquery.flexslider.js"></script>
<script src="/js/dependencies/jquery.magnific-popup.js"></script>
<script src="/js/dependencies/jquery.mb.YTPlayer.js"></script>
<script src="/js/dependencies/jquery.nav.js"></script>
<script src="/js/dependencies/jquery.scrollTo.js"></script>
<script src="/js/prestige/scrollReveal.js"></script>
<script src="/js/prestige/isotope.pkgd.min.js"></script>
<script src="/js/prestige/isotope.js"></script>
<script src="/js/prestige/classie.js"></script>
<script src="/js/prestige/imagesloaded.pkgd.js"></script>
<script src="/js/prestige/less.js"></script>
<script src="/js/prestige/modernizr.custom.js"></script>
<script src="/js/prestige/owl.carousel.js"></script>
<script src="/js/prestige/jssor.slider.mini.js"></script>
<script src="/js/prestige/custom.js"></script>
<!--SCRIPTS END-->


<script>

  $(document).ready(function(){
    $(".player").mb_YTPlayer();
    isotope();
  });

  $(document).ready(function () {
    $(".owl-example").owlCarousel();
  });




  $(document).ready(function ($) {

    var options = {
      $FillMode: 2,                                       //[Optional] The way to fill image in slide, 0 stretch, 1 contain (keep aspect ratio and put all inside slide), 2 cover (keep aspect ratio and cover whole slide), 4 actual size, 5 contain for large image, actual size for small image, default value is 0
      $AutoPlay: false,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
      $AutoPlayInterval: 4000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
      $PauseOnHover: 1,                                   //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

      $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
      $SlideEasing: $JssorEasing$.$EaseOutQuint,          //[Optional] Specifies easing for right to left animation, default value is $JssorEasing$.$EaseOutQuad
      $SlideDuration: 800,                               //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
      $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
      //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
      //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
      $SlideSpacing: 0, 					                //[Optional] Space between each slide in pixels, default value is 0
      $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
      $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
      $UISearchMode: 1,                                   //[Optional] The way (0 parallel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
      $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizontal, 2 vertical, 5 horizontal reverse, 6 vertical reverse, default value is 1
      $DragOrientation: 1,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizontal, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

      $BulletNavigatorOptions: {                          //[Optional] Options to specify and enable navigator or not
        $Class: $JssorBulletNavigator$,                 //[Required] Class to create navigator instance
        $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
        $AutoCenter: 1,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
        $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
        $Lanes: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
        $SpacingX: 8,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
        $SpacingY: 8,                                   //[Optional] Vertical space between each item in pixel, default value is 0
        $Orientation: 1,                                //[Optional] The orientation of the navigator, 1 horizontal, 2 vertical, default value is 1
        $Scale: false                                   //Scales bullets navigator or not while slider scale
      },

      $ArrowNavigatorOptions: {                           //[Optional] Options to specify and enable arrow navigator or not
        $Class: $JssorArrowNavigator$,                  //[Required] Class to create arrow navigator instance
        $ChanceToShow: 1,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
        $AutoCenter: 2,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
        $Steps: 1                                       //[Optional] Steps to go for each navigation request, default value is 1
      }
    };

    //Make the element 'slider1_container' visible before initialize jssor slider.
    $("#slider1_container").css("display", "block");
    var jssor_slider1 = new $JssorSlider$("slider1_container", options);

    //responsive code begin
    //you can remove responsive code if you don't want the slider scales while window resizes
    function ScaleSlider() {
      var bodyWidth = document.body.clientWidth;
      if (bodyWidth)
        jssor_slider1.$ScaleWidth(Math.min(bodyWidth, 1920));
      else
        window.setTimeout(ScaleSlider, 30);
    }
    ScaleSlider();

    $(window).bind("load", ScaleSlider);
    $(window).bind("resize", ScaleSlider);
    $(window).bind("orientationchange", ScaleSlider);
    //responsive code end
  });







</script>

</body>
</html>
