

//some variables for bavely theme, you can create your own easily.
$body-bg:#fff;
$base-line-height:24px;
$skincolor:#cab630;//Theme default color code, paste your own code here
$text-color:#a8e12a;
$lightcolor:#fff; //white color and background
$graycolor:#777; //gray color for p tags
$darkcolor:#000; //dark color for heading
$primary-font:  'Roboto Condensed', sans-serif; //default font family
$base-font-size:13px; //default basic font size
$alert-color:red; //alert color

//navbar
$bgDefault      : #fff;
$colDefault     : #474747;
$colHighlight   : #FFD600;
$dropDown       : false;

//backgrounds

$quote-bg: url(../../assets/images/bg-2.jpg) no-repeat center center;
$testimonials-bg:url(../../assets/images/blog-2.jpg) no-repeat center center;
$twitter-bg:url(../../assets/images/blog-1.jpg) no-repeat center center;
$cta-1-bg:url(../../assets/images/bg-3.jpg) no-repeat center center;
$contact-bg:#fff;
$parallax-bg:url(../../assets/images/bg-3.jpg) fixed;
