<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if IE 10]> <html class="ie10" lang="en"> <![endif]-->
<!--[if (gt IE 10)|!(IE)]> <html lang="en"> <![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="ico/favicon.png">

    <title>Thomas DuPont ~ Fight Choreographer / Stunt Coordinator</title>


  <!--STYLES-->
  <link rel="stylesheet" href="/styles/bootstrap-theme.css">
  <link rel="stylesheet" href="/styles/bootstrap.css">
  <link rel="stylesheet" href="/styles/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/carousel.css">
  <link rel="stylesheet" href="/styles/et-line-font.css">
  <link rel="stylesheet" href="/styles/font-awesome.min.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/less/variables.css">
  <link rel="stylesheet" href="/styles/magnific-popup.css">
  <link rel="stylesheet" href="/styles/theme-blue.css">
  <link rel="stylesheet" href="/styles/theme-orange.css">
  <link rel="stylesheet" href="/styles/theme-salmonpink.css">
  <link rel="stylesheet" href="/styles/theme-updates.css">
  <link rel="stylesheet" href="/styles/theme.css">
  <!--STYLES END-->


    <!-- Font Awesome -->

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


  </head>

  <body>

    <div class="preloader">
       <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
    </div>


    <!-- NAVBAR
    ================================================== -->
    <div class="navbar-wrapper cbp-af-header">
      <div class="container">

        <!-- Fixed navbar -->
        <div class="navbar cbp-af-inner" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <h1><a class="navbar-brand scroll" href="#intro">Thomas Dupont</a></h1>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Home <span class="caret"></span></a>
                </li>
                <li><a href="#about">About</a></li>
                <li><a href="#intro-video">Reel</a></li>
                <li><a href="#projects">Resume</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- Hero Banner
       ================================================== -->
    <div id="intro-video">
      <a class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=lY6EEvInX3M',containment:'#intro-video',autoPlay:true, mute:true, startAt:0, printUrl:false,showControls:false, opacity:1, quality: 'highres'}"></a>
      <div class="item">
        <div class="container">
          <div class="row">
            <!--<div class="carousel-caption-center colour-white">
              <h2>Fight Choreographer.</h2>
              <h1>Stunt Coordinator.</h1>
              <p><a class="btn btn-lg btn-primary scroll" href="#about" role="button">Learn more</a></p>
            </div>-->
          </div>
        </div>
        <div class="overlay-bg "></div>
      </div>
    </div>




    <!-- About Section
    ================================================== -->

    <section id="about" class="featured">

      <div class="container">
        <div class="row">
          <div class="col-sm-5 text-center">
            <img class="margin-top img-responsive" src="images/tdupont.jpg" alt="Generic placeholder image" data-sr="enter left, hustle 20px" width="429">
          </div>
          <div class="col-sm-6 col-sm-offset-1">
            <div class="vertical-align">
              <h2>Thomas Dupont</h2>
              <p>For more than two decades, Thomas has been successfully choreographing, training and performing fights for commercials, film and television. By using an arsenal of blades and weapons -true or improvised, tapping into
                martial arts training, and being inspired by "the art of human movement", Thomas creates a variety of fight designs
                for the camera that are exciting, safe, and surprisingly easy to learn. Thomas' style is frequently highlighted, and had
                been described as "a combination of focus and precision, power and grace".</p>
              <p>Thomas' fight scene preparation encompasses instruction from the director, abilities of the performer, and integrity of
                each character all while staying true to the script. With this foundation in mind, Thomas builds a scene with creativity,
                diversity, responsability and originality -ultimately creating a scene with realistic, interesting movements and a distinct
                personality- often discovering and incorporating elements that have never before been seen on film.</p>
            </div>
          </div>
        </div>
      </div>

    </section>








    <!-- Portfolio
    ================================================== -->
    <section class="section-content section-isotope separator" id="projects">

      <div class="page-header text-center">
        <h3>Projects</h3>
        <h2>My latest work</h2>
      </div>

      <div class="container">
        <!--<div id="filters" class="button-group text-center">-->
          <!--<button data-filter-value="*" class="active">show all</button>-->
          <!--<button data-filter-value=".websites">websites</button>-->
          <!--<button data-filter-value=".icons">icons</button>-->
          <!--<button data-filter-value=".print">print</button>-->
          <!--<button data-filter-value=".mobile">mobile</button>-->
        <!--</div>-->
        <div class="row demo-3">
          <div id="portfolio" class="js-isotope grid cs-style-1" data-isotope-options='{ "columnWidth": 200, "itemSelector": ".portfolio-item" }'>
            <div class="col-sm-6 col-md-4 portfolio-item design">
              <figure>
                <!-- Thumb Info -->
                <div class="info">
                  <h3>Fight Coordinator</h3>
                  <span>Stunt Double: Jeff Bridges</span>
                </div>
                <!-- Thumbnail -->
                <img src="images/thumbs/7son.jpg" alt="Prestige Portfolio Thumbnail Image">
                <!-- Thumb links -->
                <figcaption>
                  <a href="images/thumbs/7son.jpg" class="preview tooltips popup-gallery" data-toggle="tooltip" data-placement="left" title="Preview">
                    <i class="fa fa-plus"></i>
                  </a>
                  <a href="#" class="link tooltips" data-toggle="tooltip" data-placement="bottom" title="Open Website">
                    <i class="fa fa-external-link"></i>
                  </a>
                </figcaption>
              </figure>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item design">
              <figure>
                <!-- Thumb Info -->
                <div class="info">
                  <h3>Stunt Coordinator</h3>
                  <span>Second Unit</span>
                </div>
                <!-- Thumbnail -->
                <img src="images/thumbs/robocop.jpg" alt="Prestige Portfolio Thumbnail Image">
                <!-- Thumb links -->
                <figcaption>
                  <a href="images/thumbs/robocop.jpg" class="preview tooltips popup-gallery" data-toggle="tooltip" data-placement="bottom" title="Preview">
                    <i class="fa fa-plus"></i>
                  </a>
                  <a href="#" class="link tooltips" data-toggle="tooltip" data-placement="bottom" title="Open Website">
                    <i class="fa fa-external-link"></i>
                  </a>
                </figcaption>
              </figure>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item websites">
              <figure>
                <!-- Thumb Info -->
                <div class="info">
                  <h3>Fight Coordinator</h3>
                </div>
                <!-- Thumbnail -->
                <img src="images/thumbs/gijoe.jpg" alt="Prestige Portfolio Thumbnail Image">
                <!-- Thumb links -->
                <figcaption>
                  <a href="images/thumbs/gijoe.jpg" class="preview tooltips popup-gallery" data-toggle="tooltip" data-placement="bottom" title="Preview"><i class="fa fa-plus"></i></a><a href="#" class="link tooltips" data-toggle="tooltip" data-placement="bottom" title="Open Website"><i class="fa fa-external-link"></i></a>
                </figcaption>
              </figure>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item websites">
              <figure>
                <!-- Thumb Info -->
                <div class="info">
                  <h3>Fight Cd & Sword Master</h3>
                  <span>Stunt Double: Geoffrey Rush</span>
                </div>
                <!-- Thumbnail -->
                <img src="images/thumbs/potcstranger.jpg" alt="Prestige Portfolio Thumbnail Image">
                <!-- Thumb links -->
                <figcaption>
                  <a href="images/thumbs/potcstranger.jpg" class="preview tooltips popup-gallery" data-toggle="tooltip" data-placement="bottom" title="Preview"><i class="fa fa-plus"></i></a><a href="#" class="link tooltips" data-toggle="tooltip" data-placement="bottom" title="Open Website"><i class="fa fa-external-link"></i></a>
                </figcaption>
              </figure>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item websites">
              <figure>
                <!-- Thumb Info -->
                <div class="info">
                  <h3>Fight Choreographer</h3>
                </div>
                <!-- Thumbnail -->
                <img src="images/thumbs/Thor.jpg" alt="Prestige Portfolio Thumbnail Image">
                <!-- Thumb links -->
                <figcaption>
                  <a href="images/thumbs/Thor.jpg" class="preview tooltips popup-gallery" data-toggle="tooltip" data-placement="bottom" title="Preview"><i class="fa fa-plus"></i></a><a href="#" class="link tooltips" data-toggle="tooltip" data-placement="bottom" title="Open Website"><i class="fa fa-external-link"></i></a>
                </figcaption>
              </figure>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item icons">
              <figure>
                <!-- Thumb Info -->
                <div class="info">
                  <h3>Sword Master / Trainer</h3>
                  <span>Stunt Double: Harrison Ford (uncredited)</span>
                </div>
                <!-- Thumbnail -->
                <img src="images/thumbs/indiana.jpg" alt="Prestige Portfolio Thumbnail Image">
                <!-- Thumb links -->
                <figcaption>
                  <a href="images/thumbs/indiana.jpg" class="preview tooltips popup-gallery" data-toggle="tooltip" data-placement="bottom" title="Preview"><i class="fa fa-plus"></i></a><a href="#" class="link tooltips" data-toggle="tooltip" data-placement="bottom" title="Open Website"><i class="fa fa-external-link"></i></a>
                </figcaption>
              </figure>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item icons">
              <figure>
                <!-- Thumb Info -->
                <div class="info">
                  <h3>Sword Master</h3>
                  <span>Stunt Double: Geoffrey Rush/Bill Nighy</span>
                </div>
                <!-- Thumbnail -->
                <img src="images/thumbs/potcworlds.jpg" alt="Prestige Portfolio Thumbnail Image">
                <!-- Thumb links -->
                <figcaption>
                  <a href="images/thumbs/potcworlds.jpg" class="preview tooltips popup-gallery" data-toggle="tooltip" data-placement="bottom" title="Preview"><i class="fa fa-plus"></i></a><a href="#" class="link tooltips" data-toggle="tooltip" data-placement="bottom" title="Open Website"><i class="fa fa-external-link"></i></a>
                </figcaption>
              </figure>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item print">
              <figure>
                <!-- Thumb Info -->
                <div class="info">
                  <h3>Sword Master</h3>
                  <span>Stunt Double: Jack Davenport</span>
                </div>
                <!-- Thumbnail -->
                <img src="images/thumbs/potcchest.jpg" alt="Prestige Portfolio Thumbnail Image">
                <!-- Thumb links -->
                <figcaption>
                  <a href="images/thumbs/potcchest.jpg" class="preview tooltips popup-gallery" data-toggle="tooltip" data-placement="bottom" title="Preview"><i class="fa fa-plus"></i></a><a href="#" class="link tooltips" data-toggle="tooltip" data-placement="bottom" title="Open Website"><i class="fa fa-external-link"></i></a>
                </figcaption>
              </figure>
            </div>
            <div class="col-sm-6 col-md-4 portfolio-item mobile">
              <figure>
                <!-- Thumb Info -->
                <div class="info">
                  <h3>Utility Stunts</h3>
                  <span>Stunt Double: Geoffrey Rush</span>
                </div>
                <!-- Thumbnail -->
                <img src="images/thumbs/potcpearl.jpg" alt="Prestige Portfolio Thumbnail Image">
                <!-- Thumb links -->
                <figcaption>
                  <a href="images/thumbs/potcpearl.jpg" class="preview tooltips popup-gallery" data-toggle="tooltip" data-placement="bottom" title="Preview"><i class="fa fa-plus"></i></a><a href="#" class="link tooltips" data-toggle="tooltip" data-placement="bottom" title="Open Website"><i class="fa fa-external-link"></i></a>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>

    </section>





    <!-- Contact
    ================================================== -->
    <section id="featured2" class="featured dark">

      <div class="container">
        <div class="row">
          <div class="col-sm-5 text-center">
            <img class="margin-top img-responsive" src="images/imac.png" alt="Generic placeholder image" data-sr="enter left, hustle 20px" width="429">
          </div>
          <div class="col-sm-5 col-sm-offset-1">
            <div class="vertical-align">
              <h2>Attention is in the details.</h2>
              <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
          </div>
        </div>
      </div>

    </section>


    <!-- Footer
    ================================================== -->
    <footer id="contact" class="footer">

      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="col-sm-3 col-md-3">
              <div class="footer-logo">
                <h2>Thomas Dupont</h2>
                <p>1234 Main Street, Los Angeles CA<br>+1 (123) 456-7890</p>
                <br>
                <p class="muted">© 2015 Rhinocero.us</p>
              </div>
            </div>
            <div class="col-sm-3 col-md-3">
              <h3>Product</h3>
              <ul class="list-unstyled">
                <li><a href="#">Product for iOS</a></li>
                <li><a href="#">Product for Android</a></li>
              </ul>
            </div>
            <div class="col-sm-3 col-md-3">
              <h3>Company</h3>
              <ul class="list-unstyled">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Our Team</a></li>
              </ul>
            </div>
            <div class="col-sm-3 col-md-3">
              <h3>Documentation</h3>
              <ul class="list-unstyled">
                <li><a href="#">Product Help</a></li>
                <li><a href="#">Developer API</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <a class="icon" href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a class="icon" href="#" target="_blank"><i class="fa fa-facebook"></i></a>
          </div>
        </div>
      </div>

    </footer>



    <!-- script tags are going to be injected here -->
    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/jqBootstrapValidation.js"></script>
    <script src="/js/dependencies/jquery-1.10.2.min.js"></script>
    <script src="/js/dependencies/jquery-2.1.3.js"></script>
    <script src="/js/dependencies/jquery-2.1.3.min.js"></script>
    <script src="/js/dependencies/jquery.flexslider-min.js"></script>
    <script src="/js/dependencies/jquery.magnific-popup.js"></script>
    <script src="/js/dependencies/jquery.magnific-popup.min.js"></script>
    <script src="/js/dependencies/jquery.mb.YTPlayer.js"></script>
    <script src="/js/dependencies/jquery.nav.js"></script>
    <script src="/js/dependencies/jquery.scrollTo.js"></script>
    <script src="/js/cbpAnimatedHeader.min.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/custom.js"></script>
    <script src="/js/imagesloaded.pkgd.min.js"></script>
    <script src="/js/isotope.min.js"></script>
    <script src="/js/less-1.6.1.min.js"></script>
    <script src="/js/modernizr.custom.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/scrollReveal.js"></script>
    <!--SCRIPTS END-->


    <script>

      $(document).ready(function(){
        $(".player").mb_YTPlayer();
        isotope();
      });

    </script>

  </body>
</html>
