<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Thomas DuPont ~ Fight Choreographer / Stunt Coordinator</title>

  <!--STYLES-->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="/css/simpletextrotator.css">
  <link rel="stylesheet" href="/css/font-awesome.css">
  <link rel="stylesheet" href="/css/et-line-font.css">
  <link rel="stylesheet" href="/css/magnific-popup.css">
  <link rel="stylesheet" href="/css/flexslider.css">
  <link rel="stylesheet" href="/css/owl.carousel.css">
  <link rel="stylesheet" href="/css/animate.css">
  <link rel="stylesheet" href="/css/style.css">
  <!--STYLES END-->
</head>
<body>

<!-- Preloader -->
<div class="page-loader">
  <div class="loader">Loading...</div>
</div>

<!-- Navigation start -->
<nav class="navbar navbar-custom navbar-transparent navbar-fixed-top one-page" role="navigation">

  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Thomas DuPont</a>
    </div>

    <div class="collapse navbar-collapse" id="custom-collapse">
      <ul class="nav navbar-nav navbar-right">

        <li><a href="#totop">Home</a></li>
        <li><a href="#about" class="section-scroll">About</a></li>
        <li><a href="#reel" class="section-scroll">Reel</a></li>
        <li><a href="#resume" class="section-scroll">Resume</a></li>
        <li><a href="#contact" class="section-scroll">Contact</a></li>

      </ul>
    </div>

  </div>

</nav>
<!-- Navigation end -->

<!-- Home start -->
<section id="home" class="home-section home-parallax home-fade home-full-height">

  <div class="hero-slider">
    <ul class="slides">

      <li class="bg-dark-30 bg-dark" style="background-image:url(/images/hero/thomas-dupont-swordmaster.jpg)">
        <div class="hs-caption">
          <div class="caption-content">
            <div class="hs-title-size-1 font-alt mb-30">
              Fight Choreographer / Stunt Coordinator
            </div>
            <div class="hs-title-size-4 font-alt mb-40">
              Thomas DuPont
            </div>
            <a href="#about" class="section-scroll btn btn-border-w btn-round">Meet Thomas</a>
          </div>
        </div>
      </li>

      <li class="bg-dark-30 bg-dark" style="background-image:url(/images/hero/Thomas_Dupont-106.jpg)">
        <div class="hs-caption">
          <div class="caption-content">
            <div class="hs-title-size-1 font-alt mb-30">
              Focus and Precision,
            </div>
            <div class="hs-title-size-3 font-alt mb-40">
              Power and Grace
            </div>
            <a href="#specialities" class="section-scroll btn btn-border-w btn-round">Learn More</a>
          </div>
        </div>
      </li>

      <li class="bg-dark-30 bg-dark" style="background-image:url(/images/hero/Thomas_Dupont-102.jpg)">
        <div class="hs-caption">
          <div class="caption-content">
            <div class="hs-title-size-1 font-alt mb-30">
              The Art of
            </div>
            <div class="hs-title-size-4 font-alt mb-40">
              Human Movement
            </div>
            <a href="#about" class="section-scroll btn btn-border-w btn-round">Learn More</a>
          </div>
        </div>
      </li>



    </ul>
  </div>

</section >
<!-- Home end -->

<!-- Wrapper start -->
<div class="main">

  <!-- About start -->
  <section id="about" class="module">
    <div class="container">

      <!-- Module header start -->
      <div class="row">

        <div class="col-sm-2 col-sm-offset-5">
          <div class="alt-module-subtitle">
            <span class="holder-w"></span>
            <h5 class="font-serif">Thomas DuPont</h5>
            <span class="holder-w"></span>
          </div>
        </div>

      </div><!-- .row -->

      <div class="row">

        <div class="col-sm-8 col-sm-offset-2">
          <h2 class="module-title font-alt">Stunt Veteran</h2>
        </div>

      </div><!-- .row -->
      <!-- Module header end -->

      <div class="row">

        <div class="col-sm-8 col-sm-offset-2 align-center">
          <p>
            For more than two decades Thomas DuPont has been successfully choreographing, training and performing fights for commercials, film, and television.
            By using an arsenal of blades and weapons - true or improvised, tapping into martial arts training, and being inspired by the "art of human movement",
            Thomas creates a variety of fight designs for the camera that are exciting, safe, and surprisingly easy to learn. Thomas' style is frequently highlighted,
            and has been described as "a combination of focus and precision, power and grace".
          </p>

          <p>
            Thomas' fight scene preparation encompasses instructions from the director, abilities of the performer, and integrity of each character all while staying
            true to the script. With this foundation in mind, Thomas builds a scene with creativity, diversity, responsibility, and originality - ultimately creating
            a scene with realistic, interesting movements and a distinct personality - often discovering and incorporating elements that have never before been seen
            on film.
          </p>

          <p>
            Thomas' passion for his craft fuels his enthusiasm for training, research, experimentation and artistry. Armed with a solid work ethic and fierce determination,
            this dynamic industry inspires Thomas to continually enhance his style to not only meet but exceed the industry's fight coordinating standards.
          </p>
        </div>

      </div><!-- .row -->

    </div><!-- .container -->
  </section>
  <!-- About end -->

  <!-- Divider -->
  <hr class="divider-w">
  <!-- Divider -->

  <!-- Specialities start -->
  <section id="specialities" class="module">
    <div class="container">

      <!-- Module header start -->
      <div class="row">

        <div class="col-sm-2 col-sm-offset-5">
          <div class="alt-module-subtitle">
            <span class="holder-w"></span>
            <h5 class="font-serif">Professional</h5>
            <span class="holder-w"></span>
          </div>
        </div>

      </div><!-- .row -->

      <div class="row">

        <div class="col-sm-8 col-sm-offset-2">
          <h2 class="module-title font-alt">Specialities</h2>
        </div>

      </div><!-- .row -->
      <!-- Module header end -->

      <div class="row multi-columns-row">

        <!-- Content box start -->
        <div class="col-sm-6 col-md-3 col-lg-3">
          <div class="content-box">
            <div class="content-box-image">
              <img src="/images/cb-1.svg" alt="">
            </div>
            <h3 class="content-box-title font-serif">Fight Coordination</h3>
            Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors.
          </div>
        </div>
        <!-- Content box start -->

        <!-- Content box start -->
        <div class="col-sm-6 col-md-3 col-lg-3">
          <div class="content-box">
            <div class="content-box-image">
              <img src="/images/cb-2.svg" alt="">
            </div>
            <h3 class="content-box-title font-serif">Fight Choreography</h3>
            Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors.
          </div>
        </div>
        <!-- Content box start -->

        <!-- Content box start -->
        <div class="col-sm-6 col-md-3 col-lg-3">
          <div class="content-box">
            <div class="content-box-image">
              <img src="/images/cb-3.svg" alt="">
            </div>
            <h3 class="content-box-title font-serif">Sword Master</h3>
            Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors.
          </div>
        </div>
        <!-- Content box start -->

        <!-- Content box start -->
        <div class="col-sm-6 col-md-3 col-lg-3">
          <div class="content-box">
            <div class="content-box-image">
              <img src="/images/cb-4.svg" alt="">
            </div>
            <h3 class="content-box-title font-serif">Actor</h3>
            Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors.
          </div>
        </div>
        <!-- Content box start -->

      </div><!-- .row -->

      <div class="row">

        <div class="col-sm-4 col-sm-offset-4 align-center mt-70">

          <!-- Divider -->
          <hr class="divider-w pt-20">
          <!-- Divider -->

          <a href="#reel" class="section-scroll font-alt mt-50">See Thomas' Reel</a>

        </div>

      </div><!-- .row -->

    </div><!-- .container -->
  </section>
  <!-- Specialities end -->

  <!-- Video start -->
  <section class="module module-video bg-dark-30" data-background="/images/section-12.jpg" id="reel">

    <div class="container">

      <div class="row">

        <div class="col-sm-12">
          <h2 class="module-title font-alt align-left">Stunt Coordinator Reel</h2>
          <h4>Thomas DuPont</h4>
        </div>

      </div><!-- .row -->

      <div class="row">

        <div class="col-sm-3">
          <p class="font-serif">
            By working with stunt performres, as well as <a href="#actors-trained" class="section-scroll">training many actors</a>, Thomas developed a level of experience, patience
            and adapability needed to train performers of all skill levels. Thomas' ability to quickly assess natural strengths and teach in accordance with each individual's learning process
            ultimately speeds up the rehearsal process and allows performers maximum potential to be achieved.
          </p>
        </div>
      </div><!-- .row -->

    </div>

    <!-- Youtube player start-->
    <div class="video-player" data-property="{videoURL:'https://www.youtube.com/watch?v=lY6EEvInX3M', containment:'.module-video', startAt:0, mute:false, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:25, mute:true}"></div>
    <!-- Youtube player end -->

    <!-- Youtube controls start-->
    <div class="video-controls-box">
      <div class="container">
        <div class="video-controls">
          <a id="video-volume" class="fa fa-volume-off" href="#">&nbsp;</a>
          <a id="video-play" class="fa fa-pause" href="#">&nbsp;</a>
        </div>
      </div>
    </div>
    <!-- Youtube controls end -->

  </section>
  <!-- Video end -->

  <!-- Menu start -->
  <section id="resume" class="module">
    <div class="container">

      <!-- Module header start -->
      <div class="row">

        <div class="col-sm-2 col-sm-offset-5">
          <div class="alt-module-subtitle">
            <span class="holder-w"></span>
            <h5 class="font-serif">Stunt</h5>
            <span class="holder-w"></span>
          </div>
        </div>

      </div><!-- .row -->

      <div class="row">

        <div class="col-sm-8 col-sm-offset-2">
          <h2 class="module-title font-alt">Resume</h2>
        </div>

      </div><!-- .row -->
      <!-- Module header end -->

      <div class="row multi-columns-row">

        <!-- Resume left col start -->
        <div class="col-sm-6">

          <div class="menu">
            <div class="row">
              <div class="col-sm-8">
                <h4 class="menu-title font-alt">Wild Mushroom Bucatini with Kale</h4>
                <div class="menu-detail font-serif">Mushroom / Veggie / White Sources</div>
              </div>
              <div class="col-sm-4 menu-price-detail">
                <h4 class="menu-price font-alt">$10.5</h4>
              </div>
            </div>
          </div>

          <div class="menu">
            <div class="row">
              <div class="col-sm-8">
                <h4 class="menu-title font-alt">Lemon and Garlic Green Beans</h4>
                <div class="menu-detail font-serif">Lemon / Garlic / Beans</div>
              </div>
              <div class="col-sm-4 menu-price-detail">
                <h4 class="menu-price font-alt">$14.5</h4>
              </div>
            </div>
          </div>

          <div class="menu">
            <div class="row">
              <div class="col-sm-8">
                <h4 class="menu-title font-alt">LambBeef Kofka Skewers with Tzatziki</h4>
                <div class="menu-detail font-serif">Lamb / Wine / Butter</div>
              </div>
              <div class="col-sm-4 menu-price-detail">
                <h4 class="menu-price font-alt">$18.5</h4>
              </div>
            </div>
          </div>

          <div class="menu">
            <div class="row">
              <div class="col-sm-8">
                <h4 class="menu-title font-alt">Imported Oysters Grill (5 Pieces)</h4>
                <div class="menu-detail font-serif">Oysters / Veggie / Ginger</div>
              </div>
              <div class="col-sm-4 menu-price-detail">
                <h4 class="menu-price font-alt">$15.9</h4>
              </div>
            </div>
          </div>

          <div class="menu">
            <div class="row">
              <div class="col-sm-8">
                <h4 class="menu-title font-alt">Meatloaf with Black Pepper-Honey BBQ</h4>
                <div class="menu-detail font-serif">Pepper / Chicken / Honey</div>
              </div>
              <div class="col-sm-4 menu-price-detail">
                <h4 class="menu-price font-alt">$16.4</h4>
              </div>
            </div>
          </div>

        </div>
        <!-- Resume left col end -->

        <!-- Resume right col start -->
        <div class="col-sm-6">

          <div class="menu">
            <div class="row">
              <div class="col-sm-8">
                <h4 class="menu-title font-alt">Wild Mushroom Bucatini with Kale</h4>
                <div class="menu-detail font-serif">Mushroom / Veggie / White Sources</div>
              </div>
              <div class="col-sm-4 menu-price-detail">
                <h4 class="menu-price font-alt">$10.5</h4>
              </div>
            </div>
          </div>

          <div class="menu">
            <div class="row">
              <div class="col-sm-8">
                <h4 class="menu-title font-alt">Lemon and Garlic Green Beans</h4>
                <div class="menu-detail font-serif">Lemon / Garlic / Beans</div>
              </div>
              <div class="col-sm-4 menu-price-detail">
                <h4 class="menu-price font-alt">$14.5</h4>
              </div>
            </div>
          </div>

          <div class="menu">
            <div class="row">
              <div class="col-sm-8">
                <h4 class="menu-title font-alt">LambBeef Kofka Skewers with Tzatziki</h4>
                <div class="menu-detail font-serif">Lamb / Wine / Butter</div>
              </div>
              <div class="col-sm-4 menu-price-detail">
                <h4 class="menu-price font-alt">$18.5</h4>
              </div>
            </div>
          </div>

          <div class="menu">
            <div class="row">
              <div class="col-sm-8">
                <h4 class="menu-title font-alt">Imported Oysters Grill (5 Pieces)</h4>
                <div class="menu-detail font-serif">Oysters / Veggie / Ginger</div>
              </div>
              <div class="col-sm-4 menu-price-detail">
                <h4 class="menu-price font-alt">$15.9</h4>
              </div>
            </div>
          </div>

          <div class="menu">
            <div class="row">
              <div class="col-sm-8">
                <h4 class="menu-title font-alt">Meatloaf with Black Pepper-Honey BBQ</h4>
                <div class="menu-detail font-serif">Pepper / Chicken / Honey</div>
              </div>
              <div class="col-sm-4 menu-price-detail">
                <h4 class="menu-price font-alt">$16.4</h4>
              </div>
            </div>
          </div>

        </div>
        <!-- Resume right col end -->

      </div><!-- .row -->

    </div>
  </section>
  <!-- Menu end -->

  <!-- Divider -->
  <hr class="divider-w">
  <!-- Divider -->

  <!-- Testimonials start -->
  <section class="module bg-dark-60 pt-0 pb-0" data-background="assets/images/section-16.jpg">

    <div class="testimonials-slider pt-140 pb-140">
      <ul class="slides">

        <!-- Slide 1 start -->
        <li>
          <div class="container">

            <div class="row">

              <div class="col-sm-12">
                <div class="module-icon">
                  <span class="icon-quote"></span>
                </div>
              </div>

            </div><!-- .row -->

            <div class="row">

              <div class="col-sm-8 col-sm-offset-2">
                <blockquote class="testimonial-text font-alt">I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine.</blockquote>
              </div>

            </div><!-- .row -->

            <div class="row">

              <div class="col-sm-4 col-sm-offset-4">
                <div class="testimonial-author">
                  <div class="testimonial-caption font-alt">
                    <div class="testimonial-title">Jack Woods</div>
                    <div class="testimonial-descr">SomeCompany INC, CEO</div>
                  </div>
                </div>
              </div>

            </div><!-- .row -->

          </div><!-- .container -->
        </li>
        <!-- Slide 1 end -->

        <!-- Slide 2 start -->
        <li>
          <div class="container">

            <div class="row">

              <div class="col-sm-12">
                <div class="module-icon">
                  <span class="icon-quote"></span>
                </div>
              </div>

            </div><!-- .row -->

            <div class="row">

              <div class="col-sm-8 col-sm-offset-2">
                <blockquote class="testimonial-text font-alt">I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now.</blockquote>
              </div>

            </div><!-- .row -->

            <div class="row">

              <div class="col-sm-4 col-sm-offset-4">
                <div class="testimonial-author">
                  <div class="testimonial-caption font-alt">
                    <div class="testimonial-title">Jim Stone</div>
                    <div class="testimonial-descr">SomeCompany INC, CEO</div>
                  </div>
                </div>
              </div>

            </div><!-- .row -->

          </div><!-- .container -->
        </li>
        <!-- Slide 2 end -->

        <!-- Slide 3 start -->
        <li>
          <div class="container">

            <div class="row">

              <div class="col-sm-12">
                <div class="module-icon">
                  <span class="icon-quote"></span>
                </div>
              </div>

            </div><!-- .row -->

            <div class="row">

              <div class="col-sm-8 col-sm-offset-2">
                <blockquote class="testimonial-text font-alt">I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</blockquote>
              </div>

            </div><!-- .row -->

            <div class="row">

              <div class="col-sm-4 col-sm-offset-4">
                <div class="testimonial-author">
                  <div class="testimonial-caption font-alt">
                    <div class="testimonial-title">Adele Snow</div>
                    <div class="testimonial-descr">SomeCompany INC, CEO</div>
                  </div>
                </div>
              </div>

            </div><!-- .row -->

          </div><!-- .container -->
        </li>
        <!-- Slide 3 end -->

      </ul>
    </div><!-- .testimonials-slider -->

  </section>
  <!-- Testimonials end -->

  <!-- Contact start -->
  <section id="contact" class="module">
    <div class="container">

      <!-- Module header start -->
      <div class="row">

        <div class="col-sm-2 col-sm-offset-5">
          <div class="alt-module-subtitle">
            <span class="holder-w"></span>
            <h5 class="font-serif">Get in touch</h5>
            <span class="holder-w"></span>
          </div>
        </div>

      </div><!-- .row -->

      <div class="row">

        <div class="col-sm-8 col-sm-offset-2">
          <h2 class="module-title font-alt">Contact Thomas</h2>
        </div>

      </div><!-- .row -->
      <!-- Module header end -->

      <div class="row">

        <div class="col-sm-8">


        </div>

        <div class="col-sm-4">

          <!-- Alt features item start -->
          <div class="alt-features-item mt-0 mt-xs-60">
            <div class="alt-features-icon">
              <span class="icon-megaphone"></span>
            </div>
            <h3 class="alt-features-title font-alt">Tad Lumpkin</h3>
            Email: TLumpkin@icmpartners.com<br>
            Phone: 310-550-4404
          </div>
          <!-- Alt features item end -->

          <!-- Alt features item start -->
          <div class="alt-features-item">
            <div class="alt-features-icon">
              <span class="icon-map"></span>
            </div>
            <h3 class="alt-features-title font-alt">Where to meet</h3>
            Rival Company<br>
            23 Greate Street<br>
            Los Angeles, 12345 LS
          </div>
          <!-- Alt features item end -->

        </div>

      </div><!-- .row -->

    </div>
  </section>
  <!-- Contact end -->

  <!-- Footer start -->
  <footer class="footer bg-dark">
    <div class="container">

      <div class="row">

        <div class="col-sm-6">
          <p class="copyright font-alt">© 2015 <a href="index.html">Thomas DuPont</a>, All Rights Reserved.</p>
        </div>

        <div class="col-sm-6">
          <div class="footer-social-links">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-skype"></i></a>
          </div>
        </div>

      </div><!-- .row -->

    </div>
  </footer>
  <!-- Footer end -->

</div>
<!-- Wrapper start -->

<!-- Scroll-up -->
<div class="scroll-up">
  <a href="#totop"><i class="fa fa-angle-double-up"></i></a>
</div>



<!--SCRIPTS-->
<script src="/js/jquery-2.1.3.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<script src="/js/jquery.mb.YTPlayer.js"></script>
<script src="/js/appear.js"></script>
<script src="/js/jquery.simple-text-rotator.js"></script>
<script src="/js/jqBootstrapValidation.js"></script>
<script src="/js/isotope.pkgd.js"></script>
<script src="/js/imagesloaded.pkgd.js"></script>
<script src="/js/jquery.flexslider.js"></script>
<script src="/js/jquery.magnific-popup.js"></script>
<script src="/js/jquery.fitvids.js"></script>
<script src="/js/smoothscroll.js"></script>
<script src="/js/wow.js"></script>
<script src="/js/owl.carousel.js"></script>
<script src="/js/contact.js"></script>
<script src="/js/custom.js"></script>
<!--SCRIPTS END-->
</body>
</html>
