<div class="modal-header">
  <h3 class="modal-title">Add New {{mc.entity.name}}</h3>
</div>
<div class="modal-body">
  <form name="mc.recordForm"
        sf-model="mc.record"
        sf-form="mc.formDefinition"
        sf-schema="mc.schemaDefinition"
        ng-submit="mc.submit()">
  </form>

  <form class="dropzone"
        method="post"
        enctype="multipart/form-data"
        ng-dropzone
        dropzone="dropzone"
        dropzone-config="mc.dropzoneConfig">
    <input name="file" type="file" />
  </form>

</div>
<div class="modal-footer">
  <button class="btn btn-info" ng-click="mc.submit()">Save</button>
  <button class="btn btn-warning" ng-click="mc.cancel()">Cancel</button>
</div>
