<div class="col-lg-9 fw-boxed">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title"> <em class="icon-signal fa-lg text-muted pull-right"></em>Awards</div>
    </div>
    <div class="panel-body">
      <div class="row">
        <p>Create, List, Edit, Delete awards. They should allow image uploads and will populate the awards slider.</p>
        <p>Question for later: can we pull this data from imdb? for example: http://www.imdb.com/name/nm0243345/awards?ref_=nm_ql_2</p>
      </div>
    </div>
  </div>
</div>
