<div class="col-lg-9 fw-boxed">
  <div class="panel panel-info">
    <div class="panel-heading">
        <span class="panel-title">
          {{schema.title}}
          <em class="fa fa-lg fa-wrench pull-right"></em>
        </span>
    </div>

    <div class="panel-body">

      <button class="mr mb-sm btn btn-default" ripple="" ng-click="schema.addEntity()" type="button">Add Entity</button>
      <h3>Entities</h3>
      <accordion close-others="true">
        <accordion-group class="panel panel-info bg-light" data-ng-repeat="entity in schema.schema track by entity.id">

          <accordion-heading>
            <span data-ng-click="schema.loadTab(entity);">{{entity.name}}</span>
          </accordion-heading>
          <p><strong>Fields</strong></p>
          <div class="col-lg-4 col-sm-4 col-xs-6" data-ng-repeat="attr in schema.currentEntityData.attributes track by attr.id">
            <div class="panel panel-default" data-ripple="">
              <div class="panel-body">
                <h4 class="text-thin mt">{{attr.name}}</h4>
                <div class="text-right text-sm text-muted">#{{attr.id}}: {{attr.type}}</div>
              </div>
            </div>
          </div>
        </accordion-group>
      </accordion>


      <a class="btn btn-amber" data-ng-click="schema.import()">Import iStunt Schema</a>


    </div>
  </div>
</div>
